__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

venv/
build/
dist/
*.egg-info
.pytest_cache/

*.idea

**/build-notes.txt

*.pyc

*.DS_Store

**/out_report.xml